/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.4.14,
* Autoprefixer: v10.4.7
* Browsers: last 4 versions
*/

:root {
    --background-color: #ffddff;
    --primary-color: #ffccff;
    --secondary-color: #ffbbff;
    --writing-color: #ffffff;
    --writing-color-dimmed: #ffeeff;
    --blocked-color: #eebbee;
    --wrong-color: #ffaaaa;
    --transition-time: 0.25s;
    --shake-time: 0.25s;
    }

@keyframes button-color {
    from,
    to { background-color: var(--primary-color); }
    15%,
    85% { background-color: var(--wrong-color); }
    }
@-webkit-keyframes button-color {
    from,
    to { background-color: var(--primary-color); }
    15%,
    85% { background-color: var(--wrong-color); }
    }
@keyframes button-shake {
    from,
    to { left: auto; }
    20% { left: 4px; }
    40% { left: -8px; }
    60% { left: 8px; }
    80% { left: -4px; }
    }
@-webkit-keyframes button-shake {
    from,
    to { left: auto; }
    20% { left: 4px; }
    40% { left: -8px; }
    60% { left: 8px; }
    80% { left: -4px; }
    }
@keyframes infobox-in {
    from {
        transform: translate(-50%, -50%) scale(0);
        -webkit-transform: translate(-50%, -50%) scale(0);
        }
    to {
        transform: translate(-50%, -50%) scale(1);
        -webkit-transform: translate(-50%, -50%) scale(1);
        }
    }
@-webkit-keyframes infobox-in {
    from {
        transform: translate(-50%, -50%) scale(0);
        -webkit-transform: translate(-50%, -50%) scale(0);
        }
    to {
        transform: translate(-50%, -50%) scale(1);
        -webkit-transform: translate(-50%, -50%) scale(1);
        }
    }
@keyframes infobox-out {
    from {
        transform: translate(-50%, -50%) scale(1);
        -webkit-transform: translate(-50%, -50%) scale(1);
        }
    to {
        transform: translate(-50%, -50%) scale(0);
        -webkit-transform: translate(-50%, -50%) scale(0);
        }
    }
@-webkit-keyframes infobox-out {
    from {
        transform: translate(-50%, -50%) scale(1);
        -webkit-transform: translate(-50%, -50%) scale(1);
        }
    to {
        transform: translate(-50%, -50%) scale(0);
        -webkit-transform: translate(-50%, -50%) scale(0);
        }
    }
@keyframes overlay-in {
    from { background-color: rgba(0,0,0,0); }
    to { background-color: rgba(0,0,0,0.5); }
    }
@-webkit-keyframes overlay-in {
    from { background-color: rgba(0,0,0,0); }
    to { background-color: rgba(0,0,0,0.5); }
    }
@keyframes overlay-out {
    from { background-color: rgba(0,0,0,0.5); }
    to { background-color: rgba(0,0,0,0); }
    }
@-webkit-keyframes overlay-out {
    from { background-color: rgba(0,0,0,0.5); }
    to { background-color: rgba(0,0,0,0); }
    }

#exit {
    position: fixed;
    top: 8px;
    right: 8px;
    z-index: 2;
    } 
#info-box {
    position: fixed;
    height: 200px;
    width: 360px;
    top: 50%;
    left: 50%;
    z-index: 2;
    border-style: none;
    border-radius: 20px;
    background-color: var(--background-color);
    text-align: center;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    }
#main {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    text-align: center;
    }
#message {
    margin-top: 32px;
    font-size: 32px;
    }
#message>span:nth-of-type(3n+0) { color: #0000ff; }
#message>span:nth-of-type(3n+1) { color: #ff0000; }
#message>span:nth-of-type(3n+2) { color: #00ff00; }
#overlay {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 1;
    height: 100%;
    width: 100%;
    background-color: rgba(0,0,0,0.5);
    }
#replay { margin-top: 16px; }
#sudoku-area,
#sudoku-area table,
#sudoku-area tr,
#sudoku-area td { visibility: hidden; }
#time { font-size: 16px; }
.animation-button-color {
    animation: button-color var(--shake-time) ease-in-out 0s 1 normal forwards; 
    -webkit-animation: button-color var(--shake-time) ease-in-out 0s 1 normal forwards;
    }
.animation-button-shake {
    position: relative;
    animation: button-shake var(--shake-time) ease-in-out 0s 1 normal forwards; 
    -webkit-animation: button-shake var(--shake-time) ease-in-out 0s 1 normal forwards;
    }
.animation-infobox-in {
    animation: infobox-in var(--transition-time) ease-out 0s 1 normal forwards;  
    -webkit-animation: infobox-in var(--transition-time) ease-out 0s 1 normal forwards;
    }
.animation-infobox-out {
    animation: infobox-out var(--transition-time) ease-in 0s 1 normal forwards; 
    -webkit-animation: infobox-out var(--transition-time) ease-in 0s 1 normal forwards;
    }
.animation-overlay-in {
    animation: overlay-in var(--transition-time) linear 0s 1 normal forwards; 
    -webkit-animation: overlay-in var(--transition-time) linear 0s 1 normal forwards;
    }
.animation-overlay-out {
    animation: overlay-out var(--transition-time) linear 0s 1 normal forwards; 
    -webkit-animation: overlay-out var(--transition-time) linear 0s 1 normal forwards;
    }
.button {
    height: 64px;
    width: 64px;
    border-style: none;
    border-radius: 10px;
    color: var(--writing-color);
    background-color: var(--primary-color);
    font-size: 40px;
    text-align: center;
    }
.button:active {
    color: var(--writing-color-dimmed);
    background-color: var(--secondary-color);
    }
.field {
    visibility: visible;
    height: 48px;
    width: 48px;
    border-style: none;
    border-radius: 8px;
    background-color: var(--primary-color);
    font-size: 32px;
    text-align: center;
    }
.field[readonly] { background-color: var(--blocked-color); }
.hidden {display: none;}
* {
    z-index: 0;
    font-family: "comic sans ms";
    user-select: none;
    -ms-user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
}
body { background-color: var(--background-color); }

@media screen and (max-width: 700px) {
    #exit {
        top: 6px;
        right: 6px;
        } 
    #info-box {
        height: 160px;
        width: 300px;
        border-radius: 15px;
        }
    #message {
        margin-top: 24px;
        font-size: 24px;
        }
    .button {
        height: 48px;
        width: 48px;
        border-radius: 8px;
        font-size: 30px;
        }
    .field {
        height: 32px;
        width: 32px;
        border-radius: 6px;
        font-size: 24px;
        }
    }
@media screen and (max-width: 400px) {
    #exit {
        top: 4px;
        right: 4px;
        } 
    #info-box {
        height: 120px;
        width: 250px;
        border-radius: 12px;
        }
    #message {
        margin-top: 16px;
        font-size: 16px;
        }
    #replay { margin-top: 12px; }
    #time { font-size: 12px; }
    .button {
        height: 36px;
        width: 36px;
        border-radius: 6px;
        font-size: 24px;
        }
    .field {
        height: 24px;
        width: 24px;
        border-radius: 4px;
        font-size: 16px;
        }
    }