:root {
    --background-color: #ffddff;
    --primary-color: #ffccff;
    --secondary-color: #ffbbff;
    --writing-color: #ffffff;
    --writing-color-dimmed: #ffeeff;
    --blocked-color: #eebbee;
    --animation-time: 0.25s;
    }

#exit {
    position: fixed;
    top: 8px;
    right: 8px;
    z-index: 2;
    }  
#main {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    }
#message {
    margin-top: 32px;
    font-size: 32px;
    }
#message>span:nth-of-type(3n+0) { color: #0000ff; }
#message>span:nth-of-type(3n+1) { color: #ff0000; }
#message>span:nth-of-type(3n+2) { color: #00ff00; }
#overlay {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 1;
    height: 100%;
    width: 100%;
    background-color: rgba(0,0,0,0.5);
    }
#replay { margin-top: 32px; }
#sudoku-area,
#sudoku-area table,
#sudoku-area tr,
#sudoku-area td { visibility: hidden; }
.button {
    height: 64px;
    width: 64px;
    border-style: none;
    border-radius: 10px;
    color: var(--writing-color);
    background-color: var(--primary-color);
    font-size: 40px;
    text-align: center;
    }
.button:active {
    color: var(--writing-color-dimmed);
    background-color: var(--secondary-color);
    }
.field {
    visibility: visible;
    height: 48px;
    width: 48px;
    border-style: none;
    border-radius: 8px;
    background-color: var(--primary-color);
    font-size: 32px;
    text-align: center;
    }
.field[readonly] { background-color: var(--blocked-color); }
.hidden {display: none;}
* {
    z-index: 0;
    font-family: "comic sans ms";
    user-select: none;
}
body { background-color: var(--background-color); }



#info-box {
    position: fixed;
    height: 192px;
    width: 384px;
    top: 50%;
    left: 50%;
    z-index: 2;
    border-style: none;
    border-radius: 20px;
    background-color: #ffddff;
    text-align: center;
    transform: translate(-50%, -50%);
    }
